body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.on {
  color: black;
}

.off {
  color: lightgrey;
}

.on-off-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 200px;
}

.btn-start a {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 50px;
  font-weight: bold;
  color: lightgrey;
  background-color: transparent;
}

.btn-start a:hover {
  cursor: pointer;
  color: black;
  transition: 0.1s ease-in-out;
}

.btn-control {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 50px;
  font-weight: bold;
  color: lightgrey;
  background-color: transparent;
}

.btn-control a {
  text-decoration: none;
  color: lightgrey;
}

.btn-control a:hover {
  cursor: pointer;
  color: black;
  transition: 0.1s ease-in-out;
}

.btn-back a {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 50px;
  font-weight: bold;
  color: lightgrey;
  background-color: transparent;
}

.btn-back a:hover {
  cursor: pointer;
  color: black;
  transition: 0.1s ease-in-out;
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.platform1 {
  top: 550px;
  left: 255px;
  width: 600px;
  height: 5000px;
  position: absolute;
  background-color: #3b3b3b;
  z-index: -1;
}

.platform2 {
  top: 550px;
  left: 1065px;
  width: 600px;
  height: 5000px;
  position: absolute;
  background-color: #3b3b3b;
  z-index: -1;
}

.goal1 {
  top: 450px;
  left: 1550px;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: pulse 2s infinite;
}

.death {
  font-size: 30px;
  font-weight: bold;
  color: lightgrey;
  position: absolute;
  left: 10%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.stars {
  font-size: 30px;
  font-weight: bold;
  color: lightgrey;
  position: absolute;
  left: 20%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.platform1_lvl2 {
  top: 750px;
  left: 255px;
  width: 1410px;
  height: 5000px;
  position: absolute;
  background-color: #D3D3D3;
  z-index: -1;
}

.platform2_lvl2 {
  top: 200px;
  left: 255px;
  width: 1410px;
  height: 20px;
  position: absolute;
  background-color: #D3D3D3;
  z-index: -1;
}

.platform3_lvl2 {
  top: 450px;
  left: 255px;
  width: 1410px;
  height: 20px;
  position: absolute;
  background-color: #3b3b3b;
  z-index: -1;
}

.goal2 {
  top: 650px;
  left: 1550px;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}